@using Microsoft.AspNetCore.Components
@if (!string.IsNullOrWhiteSpace(Mensaje))
{
    <div class="alert alert-danger mt-3 py-2 text-center">
        @Mensaje
    </div>
}

@code {

    [Parameter]
    public string Mensaje { get; set; } = "";

}
